src/test/resources/descriptors/otherswsdl/luhnchecker.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2008-2012 EBM WebSourcing, 2012-2018 Linagora

 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the New BSD License (3-clause license).

 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the New BSD License (3-clause license)
 for more details.

 You should have received a copy of the New BSD License (3-clause license)
 along with this program/library; If not, see http://directory.fsf.org/wiki/License:BSD_3Clause/
 for the New BSD License (3-clause license).
-->
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.cdyne.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ws.cdyne.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates Credit Cards to ensure proper input.  This is a FREE CDYNE service ran off of our secure servers.  You may use it as much as you wish.  If you would like the code to it please email us. &lt;p&gt; &lt;!-- Begin PayPal Logo --&gt;&lt;A HREF="https://www.paypal.com/us/mrb/pal=8V7SC4GYCC7NC" target="_blank"&gt;&lt;IMG  SRC="http://images.paypal.com/en_US/i/bnr/paypal_mrb_banner.gif" BORDER="0" ALT="Sign up for PayPal and start accepting credit card payments instantly."&gt;&lt;/A&gt;&lt;!-- End PayPal Logo --&gt;&lt;/p&gt; </wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com/">
      <s:element name="CheckCC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckCCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckCCResult" type="tns:ReturnIndicator" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReturnIndicator">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CardValid" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReturnIndicator" type="tns:ReturnIndicator" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckCCSoapIn">
    <wsdl:part name="parameters" element="tns:CheckCC" />
  </wsdl:message>
  <wsdl:message name="CheckCCSoapOut">
    <wsdl:part name="parameters" element="tns:CheckCCResponse" />
  </wsdl:message>
  <wsdl:message name="CheckCCHttpGetIn">
    <wsdl:part name="CardNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckCCHttpGetOut">
    <wsdl:part name="Body" element="tns:ReturnIndicator" />
  </wsdl:message>
  <wsdl:message name="CheckCCHttpPostIn">
    <wsdl:part name="CardNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckCCHttpPostOut">
    <wsdl:part name="Body" element="tns:ReturnIndicator" />
  </wsdl:message>
  <wsdl:portType name="LUHNCheckerSoap">
    <wsdl:operation name="CheckCC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter 4111111111111111 to test a good credit card number.</wsdl:documentation>
      <wsdl:input message="tns:CheckCCSoapIn" />
      <wsdl:output message="tns:CheckCCSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LUHNCheckerHttpGet">
    <wsdl:operation name="CheckCC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter 4111111111111111 to test a good credit card number.</wsdl:documentation>
      <wsdl:input message="tns:CheckCCHttpGetIn" />
      <wsdl:output message="tns:CheckCCHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LUHNCheckerHttpPost">
    <wsdl:operation name="CheckCC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enter 4111111111111111 to test a good credit card number.</wsdl:documentation>
      <wsdl:input message="tns:CheckCCHttpPostIn" />
      <wsdl:output message="tns:CheckCCHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LUHNCheckerSoap" type="tns:LUHNCheckerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckCC">
      <soap:operation soapAction="http://ws.cdyne.com/CheckCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LUHNCheckerSoap12" type="tns:LUHNCheckerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckCC">
      <soap12:operation soapAction="http://ws.cdyne.com/CheckCC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LUHNCheckerHttpGet" type="tns:LUHNCheckerHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CheckCC">
      <http:operation location="/CheckCC" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LUHNCheckerHttpPost" type="tns:LUHNCheckerHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CheckCC">
      <http:operation location="/CheckCC" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LUHNChecker">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates Credit Cards to ensure proper input.  This is a FREE CDYNE service ran off of our secure servers.  You may use it as much as you wish.  If you would like the code to it please email us. &lt;p&gt; &lt;!-- Begin PayPal Logo --&gt;&lt;A HREF="https://www.paypal.com/us/mrb/pal=8V7SC4GYCC7NC" target="_blank"&gt;&lt;IMG  SRC="http://images.paypal.com/en_US/i/bnr/paypal_mrb_banner.gif" BORDER="0" ALT="Sign up for PayPal and start accepting credit card payments instantly."&gt;&lt;/A&gt;&lt;!-- End PayPal Logo --&gt;&lt;/p&gt; </wsdl:documentation>
    <wsdl:port name="LUHNCheckerSoap" binding="tns:LUHNCheckerSoap">
      <soap:address location="http://secure.cdyne.com/creditcardverify/luhnchecker.asmx" />
    </wsdl:port>
    <wsdl:port name="LUHNCheckerSoap12" binding="tns:LUHNCheckerSoap12">
      <soap12:address location="http://secure.cdyne.com/creditcardverify/luhnchecker.asmx" />
    </wsdl:port>
    <wsdl:port name="LUHNCheckerHttpGet" binding="tns:LUHNCheckerHttpGet">
      <http:address location="http://secure.cdyne.com/creditcardverify/luhnchecker.asmx" />
    </wsdl:port>
    <wsdl:port name="LUHNCheckerHttpPost" binding="tns:LUHNCheckerHttpPost">
      <http:address location="http://secure.cdyne.com/creditcardverify/luhnchecker.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
