src/test/resources/descriptors/otherswsdl/webclock.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2008-2012 EBM WebSourcing, 2012-2018 Linagora

 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the New BSD License (3-clause license).

 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the New BSD License (3-clause license)
 for more details.

 You should have received a copy of the New BSD License (3-clause license)
 along with this program/library; If not, see http://directory.fsf.org/wiki/License:BSD_3Clause/
 for the New BSD License (3-clause license).
-->
<wsdl:definitions targetNamespace="http://efftex.com/services/webclock" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://efftex.com/services/webclock" xmlns:intf="http://efftex.com/services/webclock" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://efftex.com/services/webclock" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="GetTime">
    <complexType>
     <sequence>
      <element name="timeZone" type="xsd:string"/>
      <element name="customerId" type="xsd:string"/>
      <element name="format" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetTimeResponse">
    <complexType>
     <sequence>
      <element name="GetTimeResult" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetTimeZoneDDList">
    <complexType>
     <sequence>
      <element name="defaultTimeZone" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetTimeZoneDDListResponse">
    <complexType>
     <sequence>
      <element name="GetTimeZoneDDListResult" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="GetTimeZoneList">
    <complexType/>
   </element>
   <element name="GetTimeZoneListResponse">
    <complexType>
     <sequence>
      <element name="GetTimeZoneListResult" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="GetTimeZoneDDListResponse">

      <wsdl:part element="impl:GetTimeZoneDDListResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="GetTimeZoneListResponse">

      <wsdl:part element="impl:GetTimeZoneListResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="GetTimeResponse">

      <wsdl:part element="impl:GetTimeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="GetTimeZoneListRequest">

      <wsdl:part element="impl:GetTimeZoneList" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="GetTimeRequest">

      <wsdl:part element="impl:GetTime" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="GetTimeZoneDDListRequest">

      <wsdl:part element="impl:GetTimeZoneDDList" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WebClock">

      <wsdl:operation name="GetTime">

         <wsdl:input message="impl:GetTimeRequest" name="GetTimeRequest"/>

         <wsdl:output message="impl:GetTimeResponse" name="GetTimeResponse"/>

      </wsdl:operation>

      <wsdl:operation name="GetTimeZoneDDList">

         <wsdl:input message="impl:GetTimeZoneDDListRequest" name="GetTimeZoneDDListRequest"/>

         <wsdl:output message="impl:GetTimeZoneDDListResponse" name="GetTimeZoneDDListResponse"/>

      </wsdl:operation>

      <wsdl:operation name="GetTimeZoneList">

         <wsdl:input message="impl:GetTimeZoneListRequest" name="GetTimeZoneListRequest"/>

         <wsdl:output message="impl:GetTimeZoneListResponse" name="GetTimeZoneListResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WebClockSoapBinding" type="impl:WebClock">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="GetTime">

         <wsdlsoap:operation soapAction="http://efftex.com/services/webclock/GetTime"/>

         <wsdl:input name="GetTimeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetTimeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetTimeZoneDDList">

         <wsdlsoap:operation soapAction="http://efftex.com/services/webclock/GetTimeZoneDDList"/>

         <wsdl:input name="GetTimeZoneDDListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetTimeZoneDDListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetTimeZoneList">

         <wsdlsoap:operation soapAction="http://efftex.com/services/webclock/GetTimeZoneList"/>

         <wsdl:input name="GetTimeZoneListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="GetTimeZoneListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WebClockService">

      <wsdl:port binding="impl:WebClockSoapBinding" name="WebClock">

         <wsdlsoap:address location="http://www.worldtime-clock.com/webclock/services/WebClock"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
