src/test/resources/descriptors/otherElmts/wsdl11/CustomerSearchType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2008-2012 EBM WebSourcing, 2012-2018 Linagora

 This program/library is free software: you can redistribute it and/or modify
 it under the terms of the New BSD License (3-clause license).

 This program/library is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 FITNESS FOR A PARTICULAR PURPOSE. See the New BSD License (3-clause license)
 for more details.

 You should have received a copy of the New BSD License (3-clause license)
 along with this program/library; If not, see http://directory.fsf.org/wiki/License:BSD_3Clause/
 for the New BSD License (3-clause license).
-->
<wsdl:definitions name="CustomerSearchService"
	targetNamespace="http://type.searchcustomer.services.stv.orange.com"
	xmlns:ns1="http://searchcustomer.services.stv.orange.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns2="http://petals.ow2.org" 
	xmlns:tns="http://searchcustomer.services.stv.orange.com" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://searchcustomer.services.stv.orange.com"
			xmlns:tns="http://searchcustomer.services.stv.orange.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			
			<xsd:import namespace="http://petals.ow2.org/schemaTest2" schemaLocation="schemaTest2.xsd"></xsd:import>
			
			<xsd:include schemaLocation="schemaTest3.xsd"></xsd:include>
			
			<xs:element name="getCustomers" type="tns:getCustomers" />
			<xs:element name="getCustomersResponse" type="tns:getCustomersResponse" />
			<xs:complexType name="getCustomers">
				<xs:sequence>
					<xs:element minOccurs="0" name="pRequete"
						type="tns:customerSearchRequest" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="customerSearchRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="firstName" type="xs:string" />
					<xs:element name="fromIndex" type="xs:int" />
					<xs:element minOccurs="0" name="lastName" type="xs:string" />
					<xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
					<xs:element name="toIndex" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getCustomersResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:customerSearchResponse" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="customerSearchResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="customers"
						nillable="true" type="tns:customer" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="customer">
				<xs:sequence>
					<xs:element minOccurs="0" name="firstName" type="xs:string" />
					<xs:element minOccurs="0" name="lastName" type="xs:string" />
					<xs:element minOccurs="0" name="loginTV" type="xs:string" />
					<xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SystemException" type="tns:SystemException" />
			<xs:complexType name="SystemException">
				<xs:sequence />
			</xs:complexType>
			<xs:element name="MalformedParameterException" type="tns:MalformedParameterException" />
			<xs:complexType name="MalformedParameterException">
				<xs:sequence />
			</xs:complexType>
			<xs:element name="OtherBusinessException" type="tns:OtherBusinessException" />
			<xs:complexType name="OtherBusinessException">
				<xs:sequence />
			</xs:complexType>
			<xs:element name="MandatoryParameterException" type="tns:MandatoryParameterException" />
			<xs:complexType name="MandatoryParameterException">
				<xs:sequence />
			</xs:complexType>
			<xs:element name="OtherSystemException" type="tns:OtherSystemException" />
			<xs:complexType name="OtherSystemException">
				<xs:sequence />
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
</wsdl:definitions>
